.detailePage{
  margin: 10px;
}
.detailePage .btn{
  margin: 5px 10px;
  padding: 5px 10px;
}
.rowDeatilsTable{
  margin: 10px 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
 .rowDeatilsTable{
  font-size: small;
 }
 .detailePage .btn{
  margin: 0px 10px;
  padding: 0px 5px;
}
}